<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header(title)">
    <title th:text="${title}"></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">

    <!-- 页面样式begin -->
    <link rel="stylesheet" th:href="@{/common/css/weui.css}"/>
    <link rel="stylesheet" th:href="@{/common/css/weuix.css}"/>
    <link rel="stylesheet" th:href="@{/common/css/jq22.css}"/>
    <!-- 页面样式end -->

    <!-- jquery begin -->
    <script th:src="@{/common/js/jweixin-1.2.0.js}"></script>
    <script th:src="@{/common/js/jquery-2.1.4.js}"></script>
    <script th:src="@{/common/js/jq22.js}"></script>

    <script th:src="@{/common/js/fastclick.js}"></script>

    <!-- 企业微信应用底部栏事件begin -->
    <script th:src="@{/common/js/zepto.weui.js}"></script>
    <!-- 企业微信应用底部栏事件end -->
    <!-- 仿新浪标题演示js -->
    <script th:src="@{/common/js/iscroll-lite.js}"></script>
</head>
</html>