<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wer.dao.DictionaryMapper" >
  <resultMap id="BaseResultMap" type="com.wer.entity.sys.Dictionary" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="CHINESE_NAME" property="chineseName" jdbcType="VARCHAR" />
    <result column="ENGLISH_NAME" property="englishName" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="PARENT_ID" property="parentId" jdbcType="INTEGER" />
    <result column="EXT1" property="ext1" jdbcType="DECIMAL" />
    <result column="EXT2" property="ext2" jdbcType="VARCHAR" />
    <result column="EXT3" property="ext3" jdbcType="VARCHAR" />
    <result column="IS_VALID" property="isValid" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CODE, CHINESE_NAME, ENGLISH_NAME, DESCRIPTION, PARENT_ID, EXT1, EXT2, EXT3, IS_VALID
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_bi_dictionary
    where ID = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_bi_dictionary
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wer.entity.sys.Dictionary" >
    insert into t_bi_dictionary (ID, CODE, CHINESE_NAME, 
      ENGLISH_NAME, DESCRIPTION, PARENT_ID, 
      EXT1, EXT2, EXT3, IS_VALID
      )
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{chineseName,jdbcType=VARCHAR}, 
      #{englishName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, 
      #{ext1,jdbcType=DECIMAL}, #{ext2,jdbcType=VARCHAR}, #{ext3,jdbcType=VARCHAR}, #{isValid,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wer.entity.sys.Dictionary" >
    insert into t_bi_dictionary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="code != null" >
        CODE,
      </if>
      <if test="chineseName != null" >
        CHINESE_NAME,
      </if>
      <if test="englishName != null" >
        ENGLISH_NAME,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
      <if test="parentId != null" >
        PARENT_ID,
      </if>
      <if test="ext1 != null" >
        EXT1,
      </if>
      <if test="ext2 != null" >
        EXT2,
      </if>
      <if test="ext3 != null" >
        EXT3,
      </if>
      <if test="isValid != null" >
        IS_VALID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="chineseName != null" >
        #{chineseName,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null" >
        #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="ext1 != null" >
        #{ext1,jdbcType=DECIMAL},
      </if>
      <if test="ext2 != null" >
        #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wer.entity.sys.Dictionary" >
    update t_bi_dictionary
    <set >
      <if test="code != null" >
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="chineseName != null" >
        CHINESE_NAME = #{chineseName,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null" >
        ENGLISH_NAME = #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        PARENT_ID = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="ext1 != null" >
        EXT1 = #{ext1,jdbcType=DECIMAL},
      </if>
      <if test="ext2 != null" >
        EXT2 = #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        EXT3 = #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null" >
        IS_VALID = #{isValid,jdbcType=BIT},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wer.entity.sys.Dictionary" >
    update t_bi_dictionary
    set CODE = #{code,jdbcType=VARCHAR},
      CHINESE_NAME = #{chineseName,jdbcType=VARCHAR},
      ENGLISH_NAME = #{englishName,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      PARENT_ID = #{parentId,jdbcType=INTEGER},
      EXT1 = #{ext1,jdbcType=DECIMAL},
      EXT2 = #{ext2,jdbcType=VARCHAR},
      EXT3 = #{ext3,jdbcType=VARCHAR},
      IS_VALID = #{isValid,jdbcType=BIT}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>