<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>底部栏</title>

    <link rel="stylesheet" th:href="@{/common/lib/weui.min.css}"/>
    <link rel="stylesheet" th:href="@{/common/css/jquery-weui.css}"/>
</head>
<body ontouchstart class="page">
    <div class="weui-footer"  th:fragment="footer">
        <p class="weui-footer_fixed-bottom">Copyright © 2019-2029</p>
    </div>
</body>
</html>