<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/header::header('签证要求')"></head>
<style>
    .title_color{
        color: gray;
        font-weight: 400;
    }
</style>

<body ontouchstart class="page">
<div class="page-bd">
    <div class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>出访地简称</p>
            </div>
            <div class="weui-cell__ft" th:text="${visaInfo.visitAbbr}"></div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>出访地全称</p>
            </div>
            <div class="weui-cell__ft" th:text="${visaInfo.visitFullName}"></div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>英文简称</p>
            </div>
            <div class="weui-cell__ft" th:text="${visaInfo.englishAbbr}"></div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>英文全称</p>
            </div>
            <div class="weui-cell__ft" th:text="${visaInfo.englishFullName}"></div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>出访地拼音</p>
            </div>
            <div class="weui-cell__ft" th:text="${visaInfo.visitPinYin}"></div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>出访地拼音缩写</p>
            </div>
            <div class="weui-cell__ft" th:text="${visaInfo.visitPinYinSX}"></div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>所属州</p>
            </div>
            <div class="weui-cell__ft" th:text="${visaInfo.ownZhou}"></div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>出访地类型</p>
            </div>
            <div class="weui-cell__ft" th:text="${visaInfo.visitType}"></div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>使馆级别</p>
            </div>
            <div class="weui-cell__ft" th:text="${visaInfo.diplomaticLevel}"></div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>使馆所在地</p>
            </div>
            <div class="weui-cell__ft" th:text="${visaInfo.diplomaticOwnPlace}"></div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>使馆电话</p>
            </div>
            <div class="weui-cell__ft" th:text="${visaInfo.diplomaticPhoneNumber}"></div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>使馆传真</p>
            </div>
            <div class="weui-cell__ft" th:text="${visaInfo.diplomaticFix}"></div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>免护照类型</p>
            </div>
            <div class="weui-cell__ft" th:text="${visaInfo.passPortFreeType}"></div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>互免护照类型</p>
            </div>
            <div class="weui-cell__ft" th:text="${visaInfo.eachPassPortFreeType}"></div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>是否过境免签</p>
            </div>
            <div class="weui-cell__ft" th:text="${visaInfo.transitFree}"></div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>是否是申根国家</p>
            </div>
            <div class="weui-cell__ft" th:text="${visaInfo.isShenGenCountry}"></div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>输入时间</p>
            </div>
            <div class="weui-cell__ft" th:text="${visaInfo.enterDate}"></div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>输入人名称</p>
            </div>
            <div class="weui-cell__ft" th:text="${visaInfo.enterName}"></div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>使领馆地址</p>
                <h5 class="title_color">
                    <p th:text="${visaInfo.visaAddress}">
                    </p>
                </h5>
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>申根预约时间描述</p>
                <h5>
                    <p class="title_color" th:utext="${visaInfo.shenGenTimeDesc}">
                    </p>
                </h5>
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>备注</p>
                <h5 class="title_color">
                    <p th:text="${visaInfo.remark}">
                    </p>
                </h5>
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>签证须知</p>
                <h5 class="title_color">
                    <p th:utext="${visaInfo.visaChannel}">

                    </p>
                </h5>
            </div>
        </div>
    </div>
</div>
<br/>
<div th:replace="/common/footer::footer"></div>
</body>

<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
    $(function () {
        FastClick.attach(document.body);
        alert(wx);
    });

    wx.onUserCaptureScreen(function(res) {
        alert('用户截屏了'+res);
    })

//    function onBridgeReady() {
//        WeixinJSBridge.call('hideOptionMenu');
//    }
//
//    if (typeof WeixinJSBridge == "undefined") {
//        if (document.addEventListener) {
//            document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
//        } else if (document.attachEvent) {
//            document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
//            document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
//        }
//    } else {
//        onBridgeReady();
//    }
</script>
</html>
