<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/header::header('签证要求')">
</head>
<style>
    .title_color{
        color: gray;
        font-weight: 400;
    }
</style>

<body ontouchstart class="page">
<div class="page-bd">
    <div class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>出访地简称</p>
            </div>
            <div class="weui-cell__ft" th:text="${visaInfo.visitAbbr}"></div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>出访地全称</p>
            </div>
            <div class="weui-cell__ft" th:text="${visaInfo.visitFullName}"></div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>英文简称</p>
            </div>
            <div class="weui-cell__ft" th:text="${visaInfo.englishAbbr}"></div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>英文全称</p>
            </div>
            <div class="weui-cell__ft" th:text="${visaInfo.englishFullName}"></div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>出访地拼音</p>
            </div>
            <div class="weui-cell__ft" th:text="${visaInfo.visitPinYin}"></div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>出访地拼音缩写</p>
            </div>
            <div class="weui-cell__ft" th:text="${visaInfo.visitPinYinSX}"></div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>所属州</p>
            </div>
            <div class="weui-cell__ft" th:text="${visaInfo.ownZhou}"></div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>出访地类型</p>
            </div>
            <div class="weui-cell__ft" th:text="${visaInfo.visitType}"></div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>使馆级别</p>
            </div>
            <div class="weui-cell__ft" th:text="${visaInfo.diplomaticLevel}"></div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>使馆所在地</p>
            </div>
            <div class="weui-cell__ft" th:text="${visaInfo.diplomaticOwnPlace}"></div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>使馆电话</p>
            </div>
            <div class="weui-cell__ft" th:text="${visaInfo.diplomaticPhoneNumber}"></div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>使馆传真</p>
            </div>
            <div class="weui-cell__ft" th:text="${visaInfo.diplomaticFix}"></div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>免护照类型</p>
            </div>
            <div class="weui-cell__ft" th:text="${visaInfo.passPortFreeType}"></div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>互免护照类型</p>
            </div>
            <div class="weui-cell__ft" th:text="${visaInfo.eachPassPortFreeType}"></div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>是否过境免签</p>
            </div>
            <div class="weui-cell__ft" th:text="${visaInfo.transitFree}"></div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>是否是申根国家</p>
            </div>
            <div class="weui-cell__ft" th:text="${visaInfo.isShenGenCountry}"></div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>输入时间</p>
            </div>
            <div class="weui-cell__ft" th:text="${visaInfo.enterDate}"></div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>输入人名称</p>
            </div>
            <div class="weui-cell__ft" th:text="${visaInfo.enterName}"></div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>使领馆地址</p>
                <h5 class="title_color">
                    <p th:text="${visaInfo.visaAddress}">
                    </p>
                </h5>
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>申根预约时间描述</p>
                <h5>
                    <p class="title_color" th:utext="${visaInfo.shenGenTimeDesc}">
                    </p>
                </h5>
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>备注</p>
                <h5 class="title_color">
                    <p th:text="${visaInfo.remark}">
                    </p>
                </h5>
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>签证须知</p>
                <h5 class="title_color">
                    <p th:utext="${visaInfo.visaChannel}">

                    </p>
                </h5>
            </div>
        </div>
    </div>
</div>
<br/>
<div th:replace="/common/footer::footer"></div>
</body>

<script>
    $(document).ready(function(){
        FastClick.attach(document.body);
        var siteUrl = encodeURIComponent(window.location.href.split('#')[0]); //(地址是获取当前页面的地址)比较重要
        $.ajax({
            url : serverUrl+"/indexController/getConfigInfo?url="+siteUrl,
            type : "get",
            dataType : "JSON",
            async:true,
            success : function(data) {
                let wxConfig = {
                    debug : false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                    beta : true,
                    appId : data.appId, // 必填，企业微信的corpID
                    timestamp : data.timestamp, // 必填，生成签名的时间戳
                    nonceStr : data.nonceStr, // 必填，生成签名的随机串
                    signature : data.signature,// 必填，签名，见附录1
                    jsApiList: [
                        "onMenuShareTimeline",
                        "onMenuShareQQ",
                        "hideOptionMenu",
                        "onUserCaptureScreen"
                    ]
                };
                //配置js-sdk
                wx.config(wxConfig);

                wx.ready(function() {
                   /* wx.checkJsApi({
                     jsApiList : ['hideOptionMenu'], // 需要检测的JS接口列表，所有JS接口列表见附录2,
                     success : function(succ) {
                        alert('检查jsApiList成功'+JSON.stringify(succ));
                     // 以键值对的形式返回，可用的api值true，不可用为false
                     // 如：{"checkResult":{"chooseImage":true},"errMsg":"checkJsApi:ok"}
                     },
                     error:function (err) {
                        alert('alert'+JSON.stringify(err));
                     }
                     });*/
                    //隐藏分享接口
                    wx.hideOptionMenu();

                    //监听用户截屏事件
                     wx.onUserCaptureScreen(function(res) {
                         $.ajax({
                             url:'http://spro.free.idcfengye.com/wer/indexController/onUserCaptureScreen?title='+document.title+'&url='+siteUrl,
                             type:'get',
                             dataType:'json'
                         });
                    })
                });

                wx.error(function (res) {
                    alert('调用微信js-sdk失败');
                });
            }
        })
    });
</script>
</html>
