<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>认证失败</title>

    <link rel="stylesheet" th:href="@{/common/lib/weui.min.css}"/>
    <link rel="stylesheet" th:href="@{/common/css/jquery-weui.css}"/>

    <script th:src="@{/common/js/jquery-2.1.4.js}"></script>
    <script th:src="@{/common/js/fastclick.js}"></script>
</head>
<body ontouchstart class="page">
    <div class="weui-msg">
        <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">认证失败</h2>
            <p class="weui-msg__desc">认证失败，失败原因:
                <span th:text="${message}"></span>
            </p>
        </div>
        <div class="weui-msg__opr-area">
            <p class="weui-btn-area">
                <a class="weui-btn weui-btn_primary" th:href="|javascript:close()|">关闭</a>
            </p>
        </div>
    </div>
</body>
</html>