<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/header::header('认证成功')">
</head>
<body ontouchstart class="page">
    <div class="weui-msg">
        <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">认证成功</h2>
            <p class="weui-msg__desc">请点击关闭按钮,以使用应用相关功能</p>
        </div>
        <div class="weui-msg__opr-area">
            <p class="weui-btn-area">
                <a class="weui-btn weui-btn_primary" th:href="|javascript:close()|">关闭</a>
            </p>
        </div>
    </div>
</body>
<script type="text/javascript">
    //关闭当前窗口
    function close(){
        window.close();
    }
</script>
</html>